<footer class="g-bg-main-light-v1">
    <!-- Content -->
    <div class="g-brd-bottom g-brd-secondary-light-v1 py-4">
        <div class="container">
            <div class="row justify-content-start">
                <!-- Products -->
                <div class="col-md-8 col-lg-9 g-mb-20 g-mb-0--md">
                    <div class="row">
                        <div class="col-6 col-md-5 col-lg-3">
                            <h2 class="h5 g-color-gray-light-v3 mb-4">Products</h2>
                            <!-- Links -->
                            <ul class="list-unstyled g-font-size-13 mb-0">
                                <li class="g-mb-10">
                                    <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">SmartPhone</a>
                                </li>
                                <li class="g-mb-10">
                                    <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Laptop</a>
                                </li>
                                <li class="g-mb-10">
                                    <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Mouse</a>
                                </li>
                                <li class="g-mb-10">
                                    <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Monitor</a>
                                </li>
                                <li>
                                    <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Watch</a>
                                </li>
                            </ul>
                            <!-- End Links -->
                        </div>
                        <div class="col-6 col-md-5 col-lg-3">
                            <h2 class="h5 g-color-gray-light-v3 mb-4">Brands</h2>
                            <!-- Links -->
                            <ul class="list-unstyled g-font-size-13 mb-0">
                                <li class="g-mb-10">
                                    <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Logitech</a>
                                </li>
                                <li class="g-mb-10">
                                    <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Samsung</a>
                                </li>
                                <li>
                                    <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#!">Microsoft</a>
                                </li>
                            </ul>
                            <!-- End Links -->
                        </div>
                    </div>
                </div>
                <!-- Contacts -->
                <div class="col-md-4 col-lg-3">
                    <h2 class="h5 g-color-gray-light-v3 mb-4">Contacts</h2>
                    <!-- Links -->
                    <ul class="list-unstyled g-color-gray-dark-v5 g-font-size-13 m-0">
                        <li class="media mb-3">
                            <i class="d-flex mt-1 mr-3 icon-communication-062 u-line-icon-pro"></i>
                            <div class="media-body">
                                htmlstream@support.com
                            </div>
                        </li>
                        <li class="media">
                            <i class="d-flex mt-1 mr-3 icon-communication-033 u-line-icon-pro"></i>
                            <div class="media-body">
                                +32 333 444 555
                            </div>
                        </li>
                    </ul>
                    <!-- End Links -->
                </div>
                <!-- End Contacts -->
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Copyright -->
    <div class="container g-py-10">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-8 col-lg-9">
                <p class="g-font-size-13 mb-0">2018 &copy; Plazmorezka. All Rights Reserved.</p>
            </div>

            <div class="col-12 col-md-4 col-lg-3">
                <div class="d-flex align-items-center">
                    <h2 class="h5 g-color-gray-light-v3 mr-4">Follow Us On:</h2>
                    <!-- Social Icons -->
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item g-mr-2">
                            <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-white--hover g-bg-facebook--hover rounded"
                                href="#!">
                                <i class="g-font-size-18 g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                                <i class="g-color-white g-font-size-18 g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-white--hover g-bg-pink--hover rounded"
                                href="#!">
                                <i class="g-font-size-18 g-line-height-1 u-icon__elem-regular fa fa-instagram"></i>
                                <i class="g-color-white g-font-size-18 g-line-height-0_8 u-icon__elem-hover fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- End Social Icons -->
                </div>
            </div>
        </div>
        <!-- End Secondary Content -->
    </div>
    <!-- End Copyright -->
</footer>