<!-- Header -->
<header class="u-header u-header--static u-shadow-v19">
  <!-- Top Bar -->
  <div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-bg-primary g-transition-0_3">
    <div class="container ">
      <div class="row justify-content-between align-items-center">
        <!-- Social Icons -->
        <div class="col-auto d-flex flex-row align-items-center">
          <ul class="d-flex align-items-center m-0 p-0">
            <li class="list-inline-item g-mr-2">
              <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-white--hover g-bg-facebook--hover rounded"
                href="#!">
                <i class="g-font-size-18 g-color-white g-line-height-1_1 u-icon__elem-regular fa fa-facebook"></i>
                <i class="g-color-white g-font-size-18 g-line-height-1_1 u-icon__elem-hover fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-white--hover g-bg-pink--hover rounded"
                href="#!">
                <i class="g-font-size-18 g-color-white g-line-height-1_1 u-icon__elem-regular fa fa-instagram"></i>
                <i class="g-color-white g-font-size-18 g-line-height-1_1 u-icon__elem-hover fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Icons -->
        <!-- Phone & Work -->
        <div class="g-hidden-sm-down d-flex align-items-center">
          <!-- Header Phone -->
          <div class="g-color-white-opacity-0_6">
            <a href="tel:880012344321" class="g-color-white g-color-white-opacity-0_5--hover g-text-underline--none--hover g-pr-10"><i
                class="fa fa-mobile-phone g-font-size-22 g-valign-middle g-color-white-opacity-0_8 g-mr-5 g-mt-minus-3"></i>+38 (066) 999-99-99</a>
            <a href="tel:880012344321" class="g-color-white g-color-white-opacity-0_5--hover g-text-underline--none--hover"><i
                class="fa fa-mobile-phone g-font-size-22 g-valign-middle g-color-white-opacity-0_8 g-mr-5 g-mt-minus-3"></i>+38 (066) 999-99-99</a>
          </div>
          <!-- End Header Phone -->
          <i class="list-inline-item g-color-white-opacity-0_3 g-mx-4 g-font-size-20 g-font-style-normal">&#10072;</i>
          <!-- Work time -->
          <div class="list-inline-item work-time g-color-white">ПН-ВС:<span class="ml-1">9:00 - 20:00</span></div>
          <!-- End Work time -->
        </div>
        <!-- End Phone & Work -->
        <!-- Language & Basket -->
        <div class="col-auto d-flex align-items-center">
          <!-- Language -->
          <ul class="m-0 p-0 g-line-height-1">
            <li class="list-inline-item">
              <a id="languages-dropdown-invoker-2" class="g-color-white g-color-white-opacity-0_7--hover g-font-weight-400 g-text-underline--none--hover"
                href="#!" aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false"
                data-dropdown-event="hover" data-dropdown-target="#languages-dropdown-2" data-dropdown-type="css-animation"
                data-dropdown-duration="300" data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn"
                data-dropdown-animation-out="fadeOut">
                <svg xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                  <defs>
                    <clipPath id="a">
                      <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z" />
                    </clipPath>
                  </defs>
                  <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                    <g stroke-width="1pt">
                      <path fill="#006" d="M-256 0H768.02v512.01H-256z" />
                      <path d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"
                        fill="#fff" />
                      <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z" fill="#fff" />
                      <path d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"
                        fill="#c00" />
                    </g>
                  </g>
                </svg>
                English
              </a>
              <ul id="languages-dropdown-2" class="list-unstyled u-shadow-v29 g-pos-abs g-bg-white g-width-160 g-py-5 g-mt-19 g-z-index-2"
                aria-labelledby="languages-dropdown-invoker-2">
                <li>
                  <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                    href="#!">
                    <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                      <defs>
                        <clipPath id="a">
                          <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z" />
                        </clipPath>
                      </defs>
                      <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                        <g stroke-width="1pt">
                          <path fill="#006" d="M-256 0H768.02v512.01H-256z" />
                          <path d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"
                            fill="#fff" />
                          <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z" fill="#fff" />
                          <path d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"
                            fill="#c00" />
                        </g>
                      </g>
                    </svg>
                    English
                  </a>
                </li>
                <li>
                  <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                    href="#!">
                    <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                      <g stroke-width="1pt" fill-rule="evenodd">
                        <path fill="#fff" d="M0 0h640v480H0z" />
                        <path fill="#00267f" d="M0 0h213.33v480H0z" />
                        <path fill="#f31830" d="M426.67 0H640v480H426.67z" />
                      </g>
                    </svg>
                    Spanish
                  </a>
                </li>
                <li>
                  <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                    href="#!">
                    <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                      <g fill-rule="evenodd" stroke-width="1pt">
                        <path fill="#fff" d="M0 0h640v480H0z" />
                        <path fill="#0039a6" d="M0 160.003h640V480H0z" />
                        <path fill="#d52b1e" d="M0 319.997h640V480H0z" />
                      </g>
                    </svg>
                    Russian
                  </a>
                </li>
                <li>
                  <a class="d-block g-color-black g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20"
                    href="#!">
                    <svg class="mr-1 g-ml-minus-10" xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                      <path fill="#ffce00" d="M0 320h640v160.002H0z" />
                      <path d="M0 0h640v160H0z" />
                      <path fill="#d00" d="M0 160h640v160H0z" />
                    </svg>
                    German
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <!-- End Language -->
          <!-- Basket -->
          <div class="u-basket d-inline-block g-z-index-3">
            <div class="g-py-10 g-px-6">
              <a href="#!" id="basket-bar-invoker" class="u-icon-v1 g-color-white-opacity-0_8 g-color-white-opacity-0_5--hover g-font-size-17 g-text-underline--none--hover"
                aria-controls="basket-bar" aria-haspopup="true" aria-expanded="false" data-dropdown-event="hover"
                data-dropdown-target="#basket-bar" data-dropdown-type="css-animation" data-dropdown-duration="300"
                data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                <span class="u-badge-v1--sm g-color-primary g-bg-white g-font-size-11 g-line-height-1_4 g-rounded-50x g-pa-4"
                  style="top: 7px !important; right: 3px !important;">4</span>
                <i class="fa fa-shopping-cart g-font-size-18"></i>
              </a>
            </div>

            <div id="basket-bar" class="u-basket__bar u-dropdown--css-animation u-dropdown--hidden g-text-transform-none g-bg-white g-brd-around g-brd-gray-light-v4"
              aria-labelledby="basket-bar-invoker">
              <div class="g-brd-bottom g-brd-gray-light-v4 g-pa-15 g-mb-10">
                <span class="d-block h6 text-center text-uppercase mb-0">Shopping Cart</span>
              </div>
              <div class="js-scrollbar g-height-200">
                <!-- Product -->
                <div class="u-basket__product g-brd-none g-px-20">
                  <div class="row no-gutters g-pb-5">
                    <div class="col-4 pr-3">
                      <a class="u-basket__product-img" href="#!">
                        <img class="img-fluid" src="../img/img-temp/150x150/img1.jpg" alt="Image Description">
                      </a>
                    </div>

                    <div class="col-8">
                      <h6 class="g-font-weight-400 g-font-size-default">
                        <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#!">Black
                          Glasses</a>
                      </h6>
                      <small class="g-color-primary g-font-size-12">1 x $22.00</small>
                    </div>
                  </div>
                  <button type="button" class="u-basket__product-remove">&times;</button>
                </div>
                <!-- End Product -->

                <!-- Product -->
                <div class="u-basket__product g-brd-none g-px-20">
                  <div class="row no-gutters g-pb-5">
                    <div class="col-4 pr-3">
                      <a class="u-basket__product-img" href="#!">
                        <img class="img-fluid" src="../img/img-temp/150x150/img2.jpg" alt="Image Description">
                      </a>
                    </div>

                    <div class="col-8">
                      <h6 class="g-font-weight-400 g-font-size-default">
                        <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#!">Gloves</a>
                      </h6>
                      <small class="g-color-primary g-font-size-12">2 x $55.00</small>
                    </div>
                  </div>
                  <button type="button" class="u-basket__product-remove">&times;</button>
                </div>
                <!-- End Product -->

                <!-- Product -->
                <div class="u-basket__product g-brd-none g-px-20">
                  <div class="row no-gutters g-pb-5">
                    <div class="col-4 pr-3">
                      <a class="u-basket__product-img" href="#!">
                        <img class="img-fluid" src="../img/img-temp/150x150/img3.jpg" alt="Image Description">
                      </a>
                    </div>

                    <div class="col-8">
                      <h6 class="g-font-weight-400 g-font-size-default">
                        <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#!">Chukka
                          Shoes</a>
                      </h6>
                      <small class="g-color-primary g-font-size-12">1 x $199.00</small>
                    </div>
                  </div>
                  <button type="button" class="u-basket__product-remove">&times;</button>
                </div>
                <!-- End Product -->

                <!-- Product -->
                <div class="u-basket__product g-brd-none g-px-20">
                  <div class="row no-gutters g-pb-5">
                    <div class="col-4 pr-3">
                      <a class="u-basket__product-img" href="#!">
                        <img class="img-fluid" src="../img/img-temp/150x150/img4.jpg" alt="Image Description">
                      </a>
                    </div>

                    <div class="col-8">
                      <h6 class="g-font-weight-400 g-font-size-default">
                        <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#!">Desk
                          Clock</a>
                      </h6>
                      <small class="g-color-primary g-font-size-12">1 x $12.00</small>
                    </div>
                  </div>
                  <button type="button" class="u-basket__product-remove">&times;</button>
                </div>
                <!-- End Product -->
              </div>

              <div class="clearfix g-px-15">
                <div class="row align-items-center text-center g-brd-y g-brd-gray-light-v4 g-font-size-default">
                  <div class="col g-brd-right g-brd-gray-light-v4">
                    <strong class="d-block g-py-10 text-uppercase g-color-main g-font-weight-500 g-py-10">Total</strong>
                  </div>
                  <div class="col">
                    <strong class="d-block g-py-10 g-color-main g-font-weight-500 g-py-10">$433.00</strong>
                  </div>
                </div>
              </div>

              <div class="g-pa-20">
                <div class="text-center g-mb-15">
                  <a class="text-uppercase g-color-primary g-color-main--hover g-font-weight-400 g-font-size-13 g-text-underline--none--hover"
                    href="card.html">
                    View Cart
                    <i class="ml-2 icon-finance-100 u-line-icon-pro"></i>
                  </a>
                </div>
                <a class="btn btn-block u-btn-black g-brd-primary--hover g-bg-primary--hover g-font-size-12 text-uppercase rounded g-py-10"
                  href="card.html">Proceed to Checkout</a>
              </div>
            </div>
          </div>
          <!-- End Basket -->
        </div>
        <!-- End Language & Basket -->
      </div>
    </div>
  </div>
  <!-- End Top Bar -->

  <!-- Bottom Bar -->
  <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3">
    <nav class="js-mega-menu navbar navbar-expand-lg">
      <div class="container g-px-15">
        <div class="row justify-content-between">
          <!-- Logo -->
          <div class="col-auto col-md-2 col-lg-auto">
            <a class="navbar-brand mr-0" href="#!">
              <img src="img/logo/logo.svg" alt="logo">
            </a>
          </div>
          <!-- End Logo -->
          <!-- Responsive Toggle Button -->
          <div class="col-2 d-lg-none d-xl-none d-flex justify-content-end align-items-center">
            <button class="navbar-toggler navbar-toggler-right btn g-brd-none p-0"
              type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse"
              data-target="#navBar">
              <span class="hamburger hamburger--slider p-0">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </span>
            </button>
          </div>
          <!-- End Responsive Toggle Button -->
          <!-- Navigation -->
          <div class="col-lg-8">
            <div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row g-pt-15 g-pt-0--lg">
              <ul class="navbar-nav ml-auto">
                <li class="nav-link text-uppercase g-color-primary--hover">
                  <a href="/" aria-controls="nav-submenu--home">Home</a>
                </li>
                <li class="nav-link text-uppercase g-color-primary--hover">
                  <a href="barbecues.html">Barbecues</a>
                </li>
                <li class="nav-link text-uppercase g-color-primary--hover">
                  <a href="fences.html">Fences</a>
                </li>
                <li class="nav-link text-uppercase g-color-primary--hover">
                  <a href="bumpers.html">Bumpers</a>
                </li>
                <li class="nav-link text-uppercase g-color-primary--hover">
                  <a href="cooperation.html">Cooperations</a>
                </li>
                <li class="nav-link text-uppercase g-color-primary--hover">
                  <a href="blog.html">Blog</a>
                </li>
                <li class="nav-link text-uppercase g-color-primary--hover">
                  <a href="about_us.html">About us</a>
                </li>
                <li class="nav-link text-uppercase g-color-primary--hover">
                  <a href="faq.html">FAQ</a>
                </li>
                <li class="nav-link text-uppercase g-color-primary--hover">
                  <a href="card.html">Cart</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Navigation -->
        </div>
      </div>
    </nav>
  </div>
  <!-- End Bottom Bar -->
</header>
<!-- End Header -->