header
    .navbar-brand 
        width: 45px
        max-width: 45px
        img
            width: 100%
            min-height: 100%
    .navbar 
        > .container
            display: block
        .navbar-nav
            width: 100%
            justify-content: space-between
            .nav-link
                padding: 17px 0
                // padding: 17px 0 17px 25px
                // &:first-child
                //     padding-left: 0
                > a
                    transition: .2s ease-out
                    &:hover
                        opacity: .6
        &-toggler .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
            background-color: $g-color-primary
            height: 2px