@import "libs" // Include Libs Styles
@import "vars" // Include E-commerce theme styles
@import "unify/unify" // Include Unify theme styles
@import "header"


p 
  font-size: $base-f-size
  color: $g-color-text
a 
  color: $g-color-primary

.u-heading-v2-5--bottom h2
  margin: 0


.collapsed-wrapper
  margin-bottom: 50px
  &.box-hide
    position: relative
    overflow: hidden
    &::after
      content: ''
      display: block
      position: absolute
      bottom: 0
      right: 0
      left: 0
      height: 4em
      background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%)
      // content: ''
      // position: absolute
      // bottom: 0
      // display: block
      // width: 100%
      // box-shadow: 0 0 50px 20px #fff


/*------------------------------------
  Colors

.g-brd-primary
  border-color: $g-color-primary


.g-color-main-light-v3 
  color: $g-color-main-light-v3

.g-color-primary--hover,
.u-block-hover
  color: $g-color-text

/*------------------------------------
  Background Colors

.g-bg-main-light-v1 
  background-color: $g-bg-color-main-light-v1


.g-bg-main-light-v2 
  background-color: $g-bg-color-main-light-v2


.g-bg-main-light-v3 
  background-color: $g-bg-color-main-light-v3 !important


/*------------------------------------
  Focus state background


.g-bg-main-light-v2--focus:focus 
  backgrond-color: $g-bg-color-main-light-v2


/*------------------------------------
  Border Colors

.g-brd-secondary-light-v1 
  border-color: $g-color-secondary-light-v1 !important


/*------------------------------------
  Carousel indicators v1

.u-carousel-indicators-v1,
.u-carousel-indicators-v1--white 
  li 
    &.slick-active span 
      background-color: $g-color-primary !important
      
    
  

  span 
    background-color: darken($g-bg-color-secondary, 5%) !important
  


.u-carousel-indicators-v1 
  span 
    background-color: darken($g-bg-color-secondary, 5%) !important
  


/*------------------------------------
    Sliders v1

.u-slider-v1-3.ui-slider 
  height: 2px
  background: rgba($g-color-primary, .2)


/*------------------------------------
    Mega Menu
.hs-has-sub-menu > a::after,
.hs-icon-arrow-bottom:before 
    font-size: 9px

.u-heading-v2-5 
    &--bottom::after 
        @extend %u-heading-v2
        @extend %u-heading-v2-5
        @include px-to-rem(margin-top, 0px)

    &--top::before 
        @extend %u-heading-v2
        @extend %u-heading-v2-5
        @include px-to-rem(margin-bottom, 0px)